<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--控制台打印SQL语句-->
        <setting name="logImpl" value="STDOUT_LOGGING" />

        <!--将下划线转换成驼峰法-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>